header
    padding: 25px 0
    background-color: #222529
    .imgbox
        width: 140px
        margin-left: -10px
    nav
        a
            margin-right: 35px
            font-size: 17px
            &:hover
                color: #efc343
