#portfolio
    padding: 80px 0
    background-color: #f8f9fa
    h1
        font-size: 40px
        text-align: center
        font-family: Segoe UI
        font-weight: 700
    h3
        font-size: 20px
        font-weight: 400
        font-style: italic
        margin: 16px 0 64px
        text-align: center
        color: #6c757d
    .imgbox
        i
            font-size: 60px
            color: #ffff
            &:hover
                background-color: #ffc800e6
    .textbox
        text-align: center
        padding: 30px 0
        h2
            font-size: 24px
            font-weight: 700
            font-family: Segoe UI
        h4
            font-size: 20px
            font-style: italic
            color: #6c757d
            margin: 10px 0 20px

    //  i
    //         font-size: 20px
    //         color: #ffff
    //         &:hover
    //             position: absolute
    //             display: flex
    //             align-items: center
    //             justify-content: center
    //             background-color: #deb63e
    //             opacity: 0
