#portfolio
    background-color: #acadaf16
    padding: 50px 0
    .textbox
        text-align: center
        padding: 40px 0 55px
        h1
            font-size: 40px
            font-family: Segoe UI
            font-weight: 700
            margin-bottom: 10px
            cursor: text
        h3
            font-size: 20px
            font-style: italic
            color: #828080
            cursor: text
        h2
            font-size: 24px
            font-weight: 700
            font-family: Segoe UI
            line-height: 1.2
            margin-top: 13px
        h4
            font-size: 20px
            font-style: italic
            color: #838489
    .box
        margin-bottom: 30px
        background-color: #ffff
        padding-bottom: 20px
        .textbox
            padding: 0
        .imgbox
            position: relative
            .icon
                width: 100%
                display: flex
                justify-content: center
                align-items: center
                position: absolute
                top: 0
                bottom: 0
                opacity: 0
                font-size: 60px
                color: #ffff
                &:hover
                    cursor: pointer
                    opacity: 0.9
                    transition: 0.5s
                    background-color: #ffc800
    @media ( max-width: 992px )
        .box
            .imgbox
                width: auto
    @media ( max-width: 576px )
        .textbox
            h1 
                font-size: 20px
            h3 
                font-size: 18px
                margin-bottom: 35px
        .box
            margin-bottom: 50px
            .imgbox
                width: auto
