#services
    padding: 90px 0
    .textbox
        h1
            font-size: 60px
            font-weight: 700
            font-family: Segoe UI
            margin-bottom: 16px
        h3
            color: #828080
            font-size: 20px
            font-weight: 400
            font-style: italic
            margin: 20px 0 64px
    .box
        .icon
            display: flex
            justify-content: center
            align-items: center
            width: 130px
            height: 130px
            background-color: #ffc800
            color: #ffff
            border-radius: 70px
            font-size: 70px
    h2
        font-size: 24px
        font-weight: 700
        font-family: Segoe UI
        margin: 16px 0
    p
        font-size: 20px
        color: #6c757d
        line-height: 1.4
    @media ( max-width: 768px )
        h1
            font-size: 55px
        p
            margin-bottom: 10px