#team
    padding: 95px 0
    background-color: #f8f9fa
    text-align: center
    h2
        font-size: 40px
        margin: 0 0 16px
        font-family: Segoe UI
        font-weight: 700
        line-height: 1.2
    h3
        font-size: 20px
        font-weight: 400
        font-style: italic
        margin-bottom: 64px
        color: #6c757d
    .box
        .imgbox
            width: 224px
            height: 224px
            border: 8px solid #dfe0e1
            border-radius: 50%
            margin-left: 80px
        .textbox
            h4
                font-size: 27px
                margin-top: 24px
                font-family: Segoe UI
                font-weight: 700
                line-height: 1.2
                text-align: center
            p
                color: #6c757d
                line-height: 1.4
                margin: 0 0 16px
                font-size: 18px
                