#welcome
    padding: 280px 0
    background-image: url("header.jpg")
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    .box
        text-align: center
        font-family: Segoe UI
        h1
            font-size: 24px
            color: #ffff
            font-style: italic
        h2
            font-size: 52px
            font-weight: 700
            margin: 25px 0 32px
            color: #ffff
        .btn
            position: relative
            background-color: #ffc800
            padding: 20px 48px
            &:hover
                background-color: #d9aa00
            h5
                font-size: 18px
                font-family: Segoe UI
                font-weight: 700
                color: #ffff
    @media ( min-width: 800px )
        .box
            text-align: center
            font-family: Segoe UI
            h1
                font-size: 36px
                color: #ffff
                font-style: italic
            h2
                font-size: 72px
                font-weight: 700
                margin: 32px 0 64px
                color: #ffff
