#welcome
    padding: 270px 0
    background-image: url("header.jpg")
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    .box
        font-family: Segoe UI
        h1
            font-size: 36px
            color: #ffff
            font-style: italic
        h2
            font-size: 72px
            font-weight: 700
            margin: 35px 0 64px
            color: #ffff
        .btn
            background-color: #ffc800
            padding: 20px 48px
            &:hover
                background-color: #c28d07
            h4
                cursor: pointer
                font-size: 18px
                font-family: Segoe UI
                font-weight: 700
                color: #ffff
    @media ( max-width: 800px )
        .box
            font-family: Segoe UI
            h1
                font-size: 24px
                color: #ffff
                font-style: italic
            h2
                font-size: 52px
                font-weight: 700
                margin: 25px 0 32px
                color: #ffff
