#welcome
    background-image: url("header.jpg")
    background-size: cover
    background-repeat: no-repeat
    height: 100vh
    .box
        h1
            font-size: 36px
            color: #ffff
            font-style: italic
        h2
            font-size: 72px
            font-weight: 700
            font-family: Segoe UI
            margin: 32px 0 64px
            color: #ffff
        .btn
            background-color: #f6ca45
            padding: 20px 40px
            transition: 2s
            &:hover
                background-color: #d2ac39
            h5
                font-size: 18px
                font-family: Segoe UI
                font-weight: 700
                color: #ffff
