body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

header {
  padding: 20px 0;
  background-color: #212529;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}
header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu .imgbox {
  width: 170px;
}
header .menu nav {
  display: block;
}
header .menu nav a {
  cursor: pointer;
  margin-right: 30px;
  color: #fcf7f7;
  font-size: 18px;
  font-family: Arial;
}
header .menu nav a:hover {
  color: #f8cf75;
}
header .menu .btn {
  display: none;
}
@media (max-width: 992px) {
  header .menu {
    width: 100%;
  }
  header .menu nav {
    display: none;
  }
  header .menu .btn {
    display: flex;
    border-radius: 7px;
    border: 1px solid #605e5e;
    padding: 7px 13px 7px 11px;
  }
  header .menu .btn h3 {
    color: #a5a2a2;
    font-weight: 700;
    font-size: 18px;
    margin-right: 10px;
    font-family: Segoe UI;
  }
  header .menu .btn .icon {
    color: #afacac;
    margin-top: 2px;
  }
}
@media (max-width: 280px) {
  header .menu {
    display: flex;
    flex-flow: row wrap;
  }
}

#welcome {
  padding: 270px 0;
  background-image: url("header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#welcome .box {
  font-family: Segoe UI;
}
#welcome .box h1 {
  font-size: 40px;
  color: white;
  font-style: italic;
}
#welcome .box h2 {
  font-size: 90px;
  font-weight: 700;
  margin: 35px 0 64px;
  color: white;
}
#welcome .box .btn {
  background-color: #ffc800;
  padding: 20px 48px;
}
#welcome .box .btn:hover {
  background-color: #c28d07;
}
#welcome .box .btn h4 {
  cursor: pointer;
  font-size: 18px;
  font-family: Segoe UI;
  font-weight: 700;
  color: white;
}
@media (max-width: 800px) {
  #welcome .box {
    font-family: Segoe UI;
  }
  #welcome .box h1 {
    font-size: 35px;
    color: white;
    font-style: italic;
  }
  #welcome .box h2 {
    font-size: 70px;
    font-weight: 700;
    margin: 25px 0 32px;
    color: white;
  }
}

#services {
  padding: 90px 0;
}
#services .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  font-family: Segoe UI;
  margin-bottom: 16px;
}
#services .textbox h3 {
  color: #828080;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  margin: 20px 0 64px;
}
#services .box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  background-color: #ffc800;
  color: white;
  border-radius: 70px;
  font-size: 70px;
}
#services h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: Segoe UI;
  margin: 16px 0;
}
#services p {
  font-size: 20px;
  color: #6c757d;
  line-height: 1.4;
}
@media (max-width: 768px) {
  #services h1 {
    font-size: 55px;
  }
  #services p {
    margin-bottom: 10px;
  }
}

#portfolio {
  background-color: rgba(172, 173, 175, 0.0862745098);
  padding: 50px 0;
}
#portfolio .textbox {
  text-align: center;
  padding: 40px 0 55px;
}
#portfolio .textbox h1 {
  font-size: 60px;
  font-family: Segoe UI;
  font-weight: 700;
  margin-bottom: 10px;
  cursor: text;
}
#portfolio .textbox h3 {
  font-size: 20px;
  font-style: italic;
  color: #828080;
  cursor: text;
}
#portfolio .textbox h2 {
  font-size: 29px;
  font-weight: 700;
  font-family: Segoe UI;
  line-height: 1.2;
  margin-top: 13px;
}
#portfolio .textbox h4 {
  font-size: 20px;
  font-style: italic;
  color: #838489;
}
#portfolio .box {
  margin-bottom: 30px;
  background-color: white;
  padding-bottom: 20px;
}
#portfolio .box .textbox {
  padding: 0;
}
#portfolio .box .imgbox {
  position: relative;
}
#portfolio .box .imgbox .icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  font-size: 60px;
  color: white;
}
#portfolio .box .imgbox .icon:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: 0.5s;
  background-color: #ffc800;
}
@media (max-width: 992px) {
  #portfolio .box .imgbox {
    width: auto;
  }
}
@media (max-width: 576px) {
  #portfolio .textbox h1 {
    font-size: 40px;
  }
  #portfolio .textbox h3 {
    font-size: 18px;
    margin-bottom: 35px;
  }
  #portfolio .box {
    margin-bottom: 50px;
  }
  #portfolio .box .imgbox {
    width: auto;
  }
}

#about {
  padding: 100px 0;
}
#about .text-center {
  margin-bottom: 55px;
}
#about .text-center h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: Segoe UI;
  cursor: text;
}
#about .text-center h3 {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  color: #828080;
  cursor: text;
}
#about .box {
  display: flex;
  align-items: center;
  margin: 0 0 100px 100px;
}
#about .box .textbox {
  width: 400px;
  margin: 0 20px;
  text-align: end;
}
#about .box .textbox h2, #about .box .textbox h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  font-family: Segoe UI;
  cursor: text;
}
#about .box .textbox p {
  color: #828080;
  font-size: 19px;
  line-height: 1.4;
  cursor: text;
}
#about .box .imgbox {
  width: 160px;
  height: 160px;
  border-radius: 200px;
  border: 7px solid #ded8d8;
  margin: 0 34px;
}
#about .right {
  justify-content: end;
  margin: 0 100px 100px 0;
}
#about .right .textbox {
  text-align: start;
}
#about .yellow {
  display: flex;
  justify-content: center;
}
#about .story {
  width: 160px;
  height: 160px;
  border-radius: 200px;
  background-color: #ffc800;
  border: 7px solid #ded8d8;
}
#about .story .minibox {
  text-align: center;
  padding: 0 40px;
}
#about .story .minibox h2 {
  font-size: 20px;
  color: white;
  cursor: text;
  font-weight: 700;
  line-height: 1.2;
}
@media (max-width: 992px) {
  #about .box {
    margin: 0 0 100px 0;
    align-items: flex-start;
  }
  #about .box .textbox {
    width: 190px;
  }
  #about .box .imgbox {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 768px) {
  #about .text-center h1 {
    font-size: 55px;
  }
  #about .text-center h3 {
    font-size: 18px;
  }
  #about .box {
    align-items: flex-start;
    flex-direction: row-reverse;
    margin: 0 0 70px 0;
  }
  #about .box .textbox {
    width: 400px;
    text-align: start;
  }
  #about .box .imgbox {
    width: 140px;
    height: auto;
    margin: 0;
  }
  #about .right {
    margin: 0 0 70px 0;
    flex-direction: row;
  }
  #about .right .textbox {
    text-align: start;
  }
  #about .yellow {
    justify-content: flex-start;
  }
  #about .yellow .story {
    width: 140px;
    height: 140px;
  }
  #about .yellow .story .minibox {
    padding: 0 30px;
  }
}
@media (max-width: 576px) {
  #about .text-center h1 {
    font-size: 50px;
  }
  #about .text-center h3 {
    font-size: 18px;
  }
  #about .box .imgbox {
    width: 100px;
    height: auto;
  }
  #about .box .textbox h2, #about .box .textbox h4 {
    font-size: 25px;
  }
  #about .box .textbox p {
    font-size: 18px;
  }
  #about .yellow .story {
    width: 90px;
    height: 90px;
  }
  #about .yellow .story .minibox {
    padding: 0 15px;
  }
  #about .yellow .story .minibox h2 {
    font-size: 13px;
  }
}
@media (max-width: 310px) {
  #about .yellow .story {
    width: 50px;
    height: 50px;
  }
  #about .yellow .story .minibox {
    padding: 0 5px;
  }
  #about .yellow .story .minibox h2 {
    font-size: 9px;
  }
}

#team {
  padding: 95px 0;
  background-color: #f8f9fa;
  text-align: center;
}
#team h2 {
  font-size: 55px;
  margin: 0 0 16px;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: 1.2;
}
#team h3 {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 64px;
  color: #6c757d;
}
#team p {
  color: #6c757d;
  line-height: 1.75;
  margin: 25px 0;
  font-size: 20px;
  text-align: center;
}
#team .box {
  margin-bottom: 48px;
}
#team .box .imgbox {
  width: 224px;
  height: 224px;
  border: 8px solid #dfe0e1;
  border-radius: 50%;
}
#team .box .textbox h4 {
  font-size: 27px;
  margin-top: 24px;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
#team .box .textbox h5 {
  color: #6c757d;
  line-height: 1.4;
  margin: 0 0 10px;
  font-size: 18px;
}
#team .box .textbox ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#team .box .textbox ul li .icon i {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 18px;
  color: white;
  background-color: #222529;
  margin: 0 10px 20px;
  padding: 10px;
}
#team .box .textbox ul li .icon i:hover {
  background-color: #424649;
  transition: 0.5s;
}

#companies {
  padding: 48px 0;
}
#companies img {
  margin: 16px 0;
  height: 44px;
}

#contact {
  padding: 96px 0;
  background-image: url("map.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #212529;
}
#contact h1 {
  font-size: 50px;
  margin-bottom: 16px;
  font-weight: 700;
  font-family: Segoe UI;
  color: white;
}
#contact h3 {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  color: #6c757d;
}
#contact .place {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
}
#contact .place input {
  margin: 14px 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
}
#contact .textbox {
  display: flex;
  margin-top: 55px;
  font-size: 20px;
}
#contact .textbox textarea {
  color: rgba(206, 202, 202, 0.937254902);
  border-radius: 5px;
  font-weight: 700;
  padding: 18px;
}
#contact .btn {
  padding: 20px 40px;
  margin: 40px 0;
  background-color: #ffc800;
  border-radius: 7px;
  opacity: 0.7;
}
#contact .btn h4 {
  font-size: 20px;
  font-weight: 700;
  color: white;
  font-family: Segoe UI;
}
@media (max-width: 768px) {
  #contact .textbox {
    margin-top: 15px;
  }
}
@media (max-width: 576px) {
  #contact .box h1 {
    font-size: 45px;
  }
  #contact .box h3 {
    font-size: 18px;
  }
}

footer {
  padding: 22px 0;
}
footer .menu a {
  color: #535151;
  font-size: 18px;
  font-family: Helvetica Neue;
}
footer .menu span {
  margin: 0 20px;
}
footer .menu ul li .icon {
  font-size: 17px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222529;
  color: white;
  margin: 0 12px;
  border-radius: 30px;
}
footer .menu ul li .icon:hover {
  background-color: #424649;
  transition: 0.5s;
  cursor: pointer;
}
footer .menu ul li .icon:hover i {
  cursor: pointer;
}
@media (max-width: 992px) {
  footer .menu {
    display: flex;
    flex-direction: column;
  }
  footer .menu ul {
    margin: 15px 0;
  }
}/*# sourceMappingURL=style.css.map */